/* common */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

:root {
  --color-accent: #2196f3;

  --text-color-main: #757575;
  --text-color-secondary: #212121;
  --text-color-footer-contacts: rgba(255, 255, 255, 0.6);
  --text-color-white: #ffffff;

  --background-color-main: #ffffff;
  --background-color-secondary: #2f303a;
  --background-color-team: #f5f4fa;
  --background-color-button-inactive: #f5f4fa;

  --text-font-main: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  color: var(--text-color-main);
  background-color: var(--background-color-main);

  font-family: var(--text-font-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* header */
.site-nav .link {
  color: var(--text-color-secondary);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.header-contacts .link {
  color: var(--text-color-main);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--color-accent);
}

.link.logo {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--color-accent);
}

/* index.html | main */
.hero-section {
  background: var(--background-color-secondary);
}

.hero-title {
  color: var(--text-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;

  color: var(--text-color-secondary);
  background-color: var(--background-color-main);

  font-family: inherit;

  border: none;
}

.button.primary {
  color: var(--text-color-white);
  background-color: var(--color-accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--text-color-secondary);

  font-size: 36px;
  line-height: 1.17;
}

.features-list .title {
  color: var(--text-color-secondary);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section.team {
  background-color: var(--background-color-team);
}

.team-list .team-member {
  background-color: var(--background-color-main);
}

.team-list .name {
  color: var(--text-color-secondary);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .position {
  font-size: 16px;
  line-height: 1.19;
}

/* footer */
.footer {
  background-color: var(--background-color-secondary);
}

.footer .link {
  color: var(--text-color-white);

  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--color-accent);
  cursor: pointer;
}

.address {
  font-style: normal;
}

.location {
  color: var(--text-color-white);

  text-decoration: none;
}

/* .footer .link:hover,
.footer .link:focus {
  color: var(--color-accent);
  cursor: pointer;
} */

.link.contacts {
  color: var(--text-color-footer-contacts);
}

/* portfolio.html */
.button.inactive {
  color: var(--text-color-secondary);
  background-color: var(--background-color-button-inactive);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button.active,
.button.inactive:hover,
.button.inactive:focus {
  color: var(--text-color-white);
  background-color: var(--color-accent);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.products-list .link {
  color: inherit;

  text-decoration: none;
}

.products-list .name {
  color: var(--text-color-secondary);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-list .category {
  font-size: 18px;
  line-height: 1.88;
}
